body {
    margin: 0;
    text-align: center;
    background-color: black;
    font-family: 'Merriweather', serif;
    font-size: 200%;
}
 
/*********************Containers*********************/

.nav_container {
    position: fixed;
    width: 100%;
    background-color: #082032;
}

.top_container {
    background-color: #082032;
    padding-top:50px;
}

.middle_container {
    background-color: #2C394B;
    padding: 20px;
    /* border-radius: 100%; */
    
} 

.bottom_container {
    background-color: #334756;
    padding: 20px;
}

.skill_row1 {
    width: 50%;
    margin: 100px auto;
    line-height: 2;
    
}
.skill_row2 {
    width: 50%;
    margin: 0 auto 100px auto;
    text-align:left;
    line-height: 2;
}

.list_of_projects {
    position: absolute;
    margin-left: 55%;
    margin-top: 90px;
}

.project_links{
    color: #FF4C29;
}

/***********************Images************************/

.profile_pic{
    position: relative;
    right: 350px;
}

.top_cloud {
    position: relative;
    left: 300px;
}
.cloud2 {
    position: absolute;
}

.mountain {
    
}

.python_pic {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    
}

.c_pic {
    width: 100px;
    height: 100px;
    
}
.js_pic {
    width: 100px;
    height: 100px;
    
}

.html5_pic {
    width: 100px;
    height: 100px;
   
}

.CSS_pic {
    width: 100px;
    height: 100px;
    
}


/**************************Headers/Footers******************************/
h1 {
   margin-bottom: 0;
   color: #FF4C29;
   font-size: 5.625rem;
   font-family: 'Sacramento', cursive;
   line-height: 2;
}

.pro {
    text-decoration: underline;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #FF4C29;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #FF4C29;
}

p {
    margin-bottom: 0;
}

#top_p {
    width: 15%;
    margin: 0 auto;
}

.a_programmer {
    font-size: 2.5rem;
    margin-top: 0;
}

.footer-link{
    color: #FF4C29;
}

.btn {
    color: #FF4C29;
    text-size-adjust: 50px;
}

.button1 {
    margin-top: 10px;
    font-size: 2rem;
    background-color: black;
    border-radius: 10px;
    text-align: center;
}

.button1:hover {
    background-color: #082032;
}

.lines {
    border-style: double none none none ;
    border-width: 7px;
    width: 30%;
    
}

.footer-name {
    color: white;
}